.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-width: 1px;
    height: 57px;
    margin-top: 0px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: #c7c7c7 solid 0.15px;
    z-index: 1000;
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger-menu {
    height: 20px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}
.middle-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    margin-left: 60px;
    margin-right: 25px; 
    flex: 0 1 640px; 
    min-width: 80px;    
}

.search-bar {
    flex: 1;
    height: 35px;
    border: solid 0.15px #c7c7c7;
    box-shadow: inset 0 1px 2px #eee;
    width: 0;
    border-radius: 2px;
}

.search-bar::placeholder {
    padding-left: 7px;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

.search-bar:focus {
    outline: rgb(71, 71, 245) solid 0.015px;
    z-index: 2;
}

.search-icon { 
    height: 39px;
    width: 65px;
    margin-right: 12px;
    background-color: rgb(247, 247, 247);
    border: #c7c7c7 solid 0.15px;
}

.search-icon-img {
    height: 24px;
    margin-top: 2px;
}

.voice-search-icon {
    height: 40px;
    margin-right: 24px;
    width: 40px;
    border-radius: 20px;
    border: solid 0.15px #c7c7c7;
    background-color: rgb(247, 247, 247);
}

.voice-search-icon-img {
    margin-top: 4px;
    height: 23px;
}
.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 182px;
    margin-right: 24px;
    flex-shrink: 0;
}

.upload-icon{
    height: 24px;
} 

.youtube-apps-icon {
    height: 24px;
}

.notification-icon {
    height: 24px;
}

.notification-icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-num {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgb(187, 7, 7);
    color: white;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300;
}

.user-icon {
    height: 32px;
    border-radius: 50%;
}
